/*
===============================================================================
Custom Properties
===============================================================================
*/


:root {
    --font-body: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    --font-feature: 'inter', sans-serif;

    --pink: #F06AAE;
    --purple: #6E2C91;
    --purple_deep: #4b166a;
    --page_bg: #00ffc3;
    --white: #EEE7D6;
    --black: #1A1A1D;

    --c0_t: #E6397C;
    --c0_b: #1A1A1D;

    --c1_t: #12218A;
    --c1_b: #F5EFEA;

    --c2_t: #91CFD5;
    --c2_b: #113056;

    --c3_t: #E72D48;
    --c3_b: #F1DDDF;

    --c4_t: #0C567D;
    --c4_b: #EDB79C;
}


/*
===============================================================================
Default
===============================================================================
*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*
===============================================================================
Base Elements
===============================================================================
*/


body {
    font-family: var(--font-body);
    background-color: var(--page_bg);
}

h1,
p {
    color: #F06AAE;
}

::selection {
    color: #88ff00;
    background-color: #1100ff78;
}
